.anhaenger {
    margin: 1.875rem 0;
}


#anhaengervermietung {
    /* background-color: #8d93ab;*/
    background-color: #394867;
    color: white;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

body {
    background: url("https://images.alphacoders.com/815/815034.jpg") repeat-y;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}

.bod {
    width: 80%;
    margin: auto;
    border: solid 2px;
    background-color: white;
}

.description {
    margin: 1.25rem 0.625rem 0 4.3rem;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    size: 1rem;
    line-height: 1.5;
}

h1.name {
    float: left;
    margin: 3.75rem 1.25rem 0 2.2rem;
}

h1.name2 {
    font-size: 2rem;
    margin: 1.25rem 0 0 2.2rem;
}

h2.a {
    margin: 0 0 1.875rem 1.875rem;
    padding-top: 1.25rem;
}

h2.b {
    margin: 0 0 0 0.625rem;
    padding-top: 1.25rem;
}

.h3 {
    margin: 0 0 1.875rem 2.5rem;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

iframe {
    display: block;
    max-width: 100%;
}

.img-anhaenger {
    margin: 1.25rem;
    border: solid 1px;
}

.img-mathias-wolf {
    margin: 1.875rem 1.7rem 1.25rem 0;
}

#impressum {
    background-color: white;
}

.kontakt {
    margin: 1.25rem 0.625rem 0 2.5rem;
}

#kontakt{
    background-color: white;
    padding-bottom: 1.875rem;
}

#kontakt-top {
    margin: 1.875rem 1.7rem 0 0;
}

.leistungen {
    margin: 1.25rem 0.625rem 0 2.5rem;
}

.logo {
    margin: 1.25rem 0 0 0;
    width:123px !important; 
    height:87px !important;
}

.map {
    margin: 1.25rem 0.625rem 0 2.5rem;
}

.navbar-top {
    width: 95%;
    margin: auto;
}

.nav-link {
    margin-right: 1.25rem;
}

p {
    font-family: 'Ubuntu', sans-serif;
}

.service {
    margin: 1.25rem 0.625rem 0 2.5rem;
}

#service {
    background-color: white;
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-left: 0.5rem
}

.slide-image {
    border: solid 2px;
}

#title {
    background-color: white;
}

/* Pfeile zum weiterklicken der slides positionieren
.button-left {
    left: 20%;
}

.button-right{
    right: 20%;
}
*/

/* Mobile Settings */
@media screen and (max-width: 500px) {

    .bod {
        width: 100%;
        margin: auto;
        border: solid 2px;
    }

    .button-left {
        left: 0;
    }
    
    .button-right{
        right: 0;
    }

    .description {
        margin: 1.25rem 0.625rem 0 1rem;
    }

    h1.name2 {
        font-size: 1.5rem;
        margin: 1.25rem 1.25rem;
    }

    h2.a {
        margin: 0 0 1.875rem 0.5rem;
        padding-top: 1.25rem;
    }

    h2.b {
        margin: 0;
        padding-top: 1.25rem;
    }

    .h3 {
        margin: 0 0 1.875rem 1.5rem;
    }

    .img-mathias-wolf {
        margin: 1.875rem 1rem 1.25rem 0;
    }

    .kontakt {
        margin: 1.25rem 0.625rem 0 1.5rem;
    }

    #kontakt-top {
        margin: 1.875rem 2rem 0 0;
    }

    .leistungen {
        margin: 1.25rem 0.625rem 0 1.5rem;
    }

    .map {
        margin: 0.625rem 0 1.25rem 0;
    }

    .service {
        margin: 1.25rem 0.625rem 0 1.5rem;
    }
    
  }

  /* Tablet Settings */
@media screen and (max-width: 1024px) {

    h1.name {
        float: left;
        margin: 3.75rem 1rem 0 1.25rem;
        font-size: 1.8rem;
    }
    
    h1.name2 {
        font-size: 1.5rem;
        margin: 1.25rem 1.25rem;
    }

    .img-mathias-wolf {
        margin: 1.875rem 15px 1.25rem 0;
    }

    .logo {
        margin: 1.5rem 0 0 0;
        width:111px !important; 
        height:69px !important;
    }
    
    .map {
        margin: 0.625rem 0 1.25rem 0;
    }
    
    .button-left {
        left: 0;
    }
    
    .button-right{
        right: 0;
    }
    
    }