.anhaenger {
    margin: 1.875rem 0;
}

.anhaengerbeschreibung {
    margin-left: 1.5rem;
}

.anhaengerbeschreibung-wide {
    margin-left: 21rem;
}

#anhaengervermietung {
    background-color: #bbbfca;
}

body {
    background-image: url("https://images.alphacoders.com/815/815034.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bod {
    width: 100%;
    margin: auto;
    border: solid 2px;
    background-color: white;
}

#title {
    background-color: white;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    size: 1rem;
    line-height: 1.5;
}

h1.name {
    float: left;
    margin: 3.75rem 1.25rem 0 1.25rem;
}

h1.name2 {
    margin: 1.25rem 0 0 1.25rem;
}

h2.a {
    margin: 0 0 1.875rem 1.875rem;
    padding-top: 1.25rem;
}

h2.b {
    margin: 0 0 0 0.625rem;
    padding-top: 1.25rem;
}

.h3 {
    margin: 0 0 1.875rem 2.5rem;
}

.h3-wide{
    margin: 0 0 1.875rem 31.875rem;
}

.img-anhaenger {
    margin: 1.25rem;
    border: solid 1px;

}

.img-mathias-wolf {
    margin: 1.875rem 1.875rem 1.25rem 0;
}

#impressum {
    background-color: white;
}

#kontakt{
    background-color: white;
}

#kontakt-top {
    margin: 1.875rem 1.875rem 0 0;
    font-family: 'Ubuntu', sans-serif;
}

.logo {
    margin: 1.25rem 0 0 0;
}

.map {
    margin: 0.625rem 0 1.25rem 1.875rem;
}

.navbar-top {
    width: 95%;
    margin: auto;
}

.nav-link {
    margin-right: 1.25rem;

}

p {
    margin: 1.25rem 0.625rem 0 2.5rem;
    font-family: 'Ubuntu', sans-serif;
}

#service {
    background-color: white;
    padding-bottom: 1.875rem;
}

.slide-image {
    border: solid 2px;
}