#anhaenger {
    background-color: #ffd966;
}

body {
    background-color:white;
}

.bod {
    width: 80%;
    margin: auto;
    border: solid 2px;
}

#title {
    background-color: white;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    size: 1rem;
    line-height: 1.5;
    margin: 10px 0 0 20px;
}

h2 {
    margin: 20px 0 0 20px;
}

.img-anhaenger {
    width: 70%;
    margin: 20px;

}

.img-mathias-wolf {
    float: right;
    margin: 20px 20px 20px 0px;
}

.navbar {
    width: 95%;
    margin: auto;
}

.nav-link {
    margin-right: 20px;

}

#service {
    background-color: white;
    height: 350px;
}