body {
    margin: 0;
}

.topbox {
    background-color: #c6fce5;
    margin: 0, 0, 0, 0;
}

.middlebox {
    background-color: red;
    height: 200px;
    width: 200px;
}

.bottombox {
    background-color: blue;
    height: 200px;
    width: 200px;
}

h1 {
    margin-top: 0;
}

p {
}